/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 may. 2022, 09:12:01
    Author     : EduSword
*/

  /* cards container*/
.card-basic-style {
  width: 100%;
  -webkit-box-shadow: 0 0 10px #C1C1C1;
  box-shadow: 0 0 10px #C1C1C1;
}

.card-footer {
  background-color: #FFFFFF;
}

.line-header {
  background-color: #963E3E;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  height: 9px;
}

.body-container {
  padding-right: 16px;
  /*15px in bootstrap.css*/
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.header-table th {
  border: inherit;
  background-color: #963E3E;
  color: #FFFFFF;
  /* background-color: #963E3E; */
}

.icon-list i {
        padding-top: 12px;
        width: 100%;
        text-align: center;
        font-size: 95px;
        display: inline-block;
    }

    .icon-list a {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    .icon-list h5, p {
        text-align: center;
    }


