
.divs{
    text-align:center;
    max-height: 500px!important;
}

body{
    height:200px;!important;
    overflow-y:auto;!important;
    width: 100%;!important;
}
thead,tbody,tr,td,th{
    display:inline-block;!important;
}

td{
    float:left;!important;
}
